## Python Crash Course Part 1

In [24]:
1
1.0
type(1)
type(1.0)
1+1
1/2
3**2
4%2
(2+3) * (67*4)

1340

---

In [38]:
name_of_var = 32
person = "SpaceWalker"
x = 5
print(name_of_var)
name_of_var + x
print("Welcome, Elvis")
# "I don't like that"
'I don\'t like that'
print("My name is {} and i am {} years old".format(person,x))
print("My name is {t} and i am {p} years old".format(t=person,p=x))

32
Welcome, Elvis
My name is SpaceWalker and i am 5 years old
My name is SpaceWalker and i am 5 years old

---

In [51]:
myList = [1,2,3,4,"re"]
myList
myList[-1]
# OR
myList[len(myList)-1]
myList[-1] = "Hello"
myList
myList.append('t')
myList
newList = [1,2,3,myList]
newList[3][-1]   #Stacking index calls

't'

---

In [61]:
d = {'name':'Spacey','age':31,'occupation':'CSC'}
d
d.items()
d.keys()
d.values()
t = (2,'dsd',32,'ds',True)
t
# Sets:They are like dictionary with ni key value pairs:unordered collection of unique elements
set_example = {1,1,2,1,1,1,1,1,2,3,4,5,6,7,8}
set_example
# True
# False

{1, 2, 3, 4, 5, 6, 7, 8}

## Python Crash Course Part 2

In [2]:
'a' == 'A'

False

In [6]:
if 1==2:
    print("They are equal")
elif 3 ==4:
    print("Second condition is true")
else:
    print("They are not")

They are not

In [9]:
seq = [1,2,3,4,5]
for n in seq:
    print(n)

1
2
3
4
5

In [14]:
i= 1
while(i < 5):
    print("i is currently: {}".format(i))
    i = i + 1

i is currently: 1
i is currently: 2
i is currently: 3
i is currently: 4

In [19]:
new_rang = list(range(2,20))

In [20]:
# List comprehension
[num**2 for num in new_rang ]

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## Python Crash Course Part 3

In [24]:
def funccy(name="Elvis"):
    '''
    This prints the name Elvis
    '''
    print("Hello " + name)
funccy()

Hello Elvis

In [25]:
# Difference btn print and return
# Print: Just displays what it wants to display.The type of the result is NoneType
# Return: Saves the result for further manipulation.

In [27]:
def sqr(x):
    return x**2;
sqr(9)

81

In [40]:
# Lambda Expressions
lambda x: x**2

<function <lambda> at 0x7f5aec6043a0>

In [38]:
sentence = 'hello my name is #moonWalker'
sentence.lower()
sentence.upper()
sentence.split()
sentence.split('#')[-1]

'moonWalker'